torch==2.8.0
torchvision==0.23.0
torch-tensorrt==2.8.0
tensordict
numpy
tqdm
hydra-core
iopath
pillow
submitit
opencv-python
matplotlib
fvcore
pandas
scikit-image
mmcv
tensorboard
timm
loguru
einops
ftfy
regex